footer {
  @apply hidden md:flex md:mt-20;
  @apply bg-gradient-to-tr from-black to-background-950 text-background-600;
}

.footer-content {
  @apply flex justify-between pt-4 pb-4 text-sm;
}

li {
  height: 24px; /* 24px minimum for Accessibility */
  min-height: 24px;
}

li > a {
  @apply relative items-center inline-block transition-colors;
  @apply hover:text-primary-100;
}

li > a::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

li > a:hover::before {
  width: 100%;
}

#footer-center {
  @apply flex items-end justify-center;
  @apply text-xs text-background-700;
}
