li > a {
  @apply relative inline-block transition-colors;
  @apply hover:text-primary-100;
}

li > a::before {
  content: "";
  position: absolute;
  bottom: 2px; /* or try bottom: -1px / -2px for fine tuning */
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

li > a:hover::before {
  width: 100%;
}

#footer-center {
  @apply flex items-end justify-center;
  @apply text-xs text-background-700;
}
