@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-950 bg-gradient-to-tr from-background-950 to-primary-900;
  @apply text-text-200;

  width: auto;
  min-height: 97vh;
  margin: 0;
  font-family: "Carlito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  @apply mx-auto;
  @apply max-w-7xl sm:px-6 lg:px-8;
}

.grid-lg {
  @apply grid grid-cols-3 gap-6;
  @apply sm:gap-8;
  @apply lg:gap-16;
}
