@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Righteous:700|Righteous:400");

body {
  @apply bg-background-950 bg-gradient-to-tr from-background-950 to-primary-900;
  @apply text-text-200;

  width: 100%;
  height: fit-content;
  margin: 0;
  font-family: "Carlito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-50;
  font-family: "Righteous";
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  @apply bg-opacity-80 bg-background-950;
}

.container {
  @apply mx-auto;
  @apply max-w-7xl sm:px-6 lg:px-8;
}

.grid-lg {
  @apply grid grid-cols-3 gap-6;
  @apply sm:gap-8;
  @apply lg:gap-16;
}
